body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #979393, #dddddd);
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
}

.school-logo {
    max-width: 600px;
    margin-right: 10px;
}

nav {
    text-align: center;
    background-color: #333;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
    display: inline-block;
}
section {
    padding: 20px;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 50px; /
}

.card {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}


.cards-container .card:nth-child(1),
.cards-container .card:nth-child(2) {
    margin-bottom: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    width: 100%;
}